<div id="editAntrag">
    <h2>Urlaubsantrag bearbeiten</h2>
    <form id="form" #editAntragForm="ngForm">
        <p>
            <mat-form-field>
                <mat-label>Urlaubsart</mat-label>
                <mat-select matNativeControl name="urlaubsart" [(ngModel)]="Antrag.Urlaubsart" required>
                    <mat-option *ngFor="let art of Arten" [value]="art.value">
                        {{art.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p>
            <label>Grund</label>
            <mat-radio-group name="grund" [(ngModel)]="Antrag.Grund" class="radio-group">
                <mat-radio-button class="radio-button" *ngFor="let grund of Gruende" [value]="grund">
                    {{grund}}
                </mat-radio-button>
            </mat-radio-group>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Anfangsdatum</mat-label>
                <input matInput name="anfangsdatum" #anfangsdatumControl="ngModel" [(ngModel)]="Antrag.von"
                    required [matDatepicker]="anfang" [min]="minAnfang">
                <mat-datepicker-toggle matSuffix [for]="anfang"></mat-datepicker-toggle>
                <mat-datepicker #anfang></mat-datepicker>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Enddatum</mat-label>
                <input matInput name="enddatum" #enddatumControl="ngModel"
                    [(ngModel)]="Antrag.bis" required [matDatepicker]="ende" [min]="Antrag.von">
                <mat-datepicker-toggle matSuffix [for]="ende"></mat-datepicker-toggle>
                <mat-datepicker #ende></mat-datepicker>
            </mat-form-field>
        </p>
        <p>
            Anzahl der Urlaubstage: {{getUrlaubstage()}}
        </p>
    </form>
    <button mat-stroked-button (click)="updateAntrag()" [disabled]="!editAntragForm.form.valid">Speichern</button>&nbsp;
    <button mat-stroked-button routerLink="/antraegeliste">Abbrechen</button>
</div>
