<div id="home">
    <h1>Holiday Manager</h1>
    <mat-grid-list cols="4" rowHeight="50px" gutterSize="5px">
        <mat-grid-tile>
            <button mat-stroked-button class="row1">Verbleibende Urlaubstage</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-stroked-button class="row1">In Bearbeitung</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-stroked-button class="row1">Ausstehende Genehmigungen</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-stroked-button class="row1">Frei planbar</button>
        </mat-grid-tile>
    </mat-grid-list>   
    <mat-grid-list cols="2" rowHeight="50px" gutterSize="5px">
        <mat-grid-tile>
            <button mat-stroked-button class="row2">Benutzerverwaltung</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-stroked-button class="row2">Arbeitstage konfigurieren</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-stroked-button class="row2">Zu genehmigende Urlaubsanträge</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-stroked-button class="row2">Mitarbeiter im Urlaub</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-stroked-button class="row2">Urlaubsantrag erstellen</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-stroked-button class="row2">Urlaubsanträge der Mitarbeiter</button>
        </mat-grid-tile>
    </mat-grid-list> 
</div>