<div id="home">
    <h1>Holiday Manager</h1>
    <mat-grid-list cols="4" rowHeight="50px" gutterSize="5px">
        <mat-grid-tile>
            <button mat-stroked-button class="row1">Verbleibende Urlaubstage</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-stroked-button class="row1">In Bearbeitung</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-stroked-button class="row1">Ausstehende Genehmigungen</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-stroked-button class="row1">Frei planbar</button>
        </mat-grid-tile>
    </mat-grid-list>   
    <mat-grid-list cols="2" rowHeight="50px" gutterSize="5px">
        <mat-grid-tile>
            <button mat-stroked-button class="row2" routerLink="/benutzerverwaltung" routerLinkActive="active">Benutzerverwaltung</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-stroked-button class="row2" routerLink ="/konfiguration" routerLinkActive="active">Arbeitstage konfigurieren</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-stroked-button class="row2" routerLink ="/erhalteneAnträge" routerLinkActive="active">Zu genehmigende Urlaubsanträge</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-stroked-button class="row2" routerLink ="/urlaubsliste" routerLinkActive="active">Mitarbeiter im Urlaub</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-stroked-button class="row2" routerLink="/antrag" routerLinkActive="active">Urlaubsantrag erstellen</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-stroked-button class="row2" routerLink ="/antraegeliste" routerLinkActive="active">Urlaubsanträge der Mitarbeiter</button>
        </mat-grid-tile>
    </mat-grid-list> 
</div>